.info_user {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 389px;
  height: 500px;
  gap: 20px;
}

.info_user span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user_avatar {
  border-radius: 44px;
  height: 88px;
  width: 88px;
}

.user_data {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 20px;
}

.user_data div {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.divider {
  border: 1px solid #b6b6b64d;
}

/* Timer----------------------------------------------------------------------*/
.timer {
  font-family: "Noto Sans Mono", "sans-serif";
  font-size: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
.timer h2 {
  background: #fff;
  border-radius: 5px;
  font-size: 120px;
  padding: 0 10px 20px 10px;
  height: 144px;
}