/* Global --------------------------------------------------------------------*/
main {
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
}

/* Header---------------------------------------------------------------------*/
header {
  background: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 8px;
  margin-bottom: 50px;
}
header div {
  background: #b6b6b6;
  width: 845px;
  height: 4px;
  border-radius: 8px;
}

/* User-----------------------------------------------------------------------*/
.info_user {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 389px;
  height: 500px;
  gap: 20px;
}

.info_user span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user_avatar {
  border-radius: 44px;
  height: 88px;
  width: 88px;
}

.user_data {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 20px;
}

.user_data div {
  display: flex;
  flex-direction: column;
}
.user_data p {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.user_data h1 {
  font-weight: 600;
  font-size: 24px;
}

.user_data p {
  font-weight: 400;
}

.divider {
  border: 1px solid #b6b6b64d;
}

/* Challenge------------------------------------------------------------------*/
.info_challenge {
  background: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 468px;
  height: 500px;
}
.info_challenge h3 {
  font-size: 24px;
  text-align: center;
  width: 251px;
  flex-wrap: wrap;
}

.info_challenge span {
  font-size: 120px;
  height: 120px;
}

.info_challenge p {
  text-align: center;
  font-size: 16px;
  width: 251px;
}

/* Timer----------------------------------------------------------------------*/
.timer {
  font-family: "Rajdhani", "sans-serif";
  font-size: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
.timer h2 {
  background: #fff;
  border-radius: 5px;
  font-size: 120px;
  padding: 0 10px;
  height: 144px;
}

/* Menu-----------------------------------------------------------------------*/
.side_menu {
  background: linear-gradient(#ffffff, #e5e5e5);
  box-shadow: 4px 8px 2px 3px #dbdbdb4b;
  display: flex;
  color: #666666;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 24px;
  gap: 40px;
  position: absolute;
  height: 100vh;
  width: 80px;
  left: 0;
  top: 0;
}

.side_menu span {
  cursor: pointer;
}

.active {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5965e0;
  border-left: 5px solid #5965e0;
  width: 80px;
  height: 56px;
  
}
